<mat-toolbar class="mat-elevation-z4" color="primary">
  <a href="/" class="title">AzureApp</a>
<div class="toolbar-spacer"></div>
  <span style="padding:10px;">Welcome {{userName}}!</span>
  <a mat-button [routerLink]="['profile']">Profile</a>
  <!-- <a mat-button [routerLink]="['reports']">Reports</a> -->
  <button mat-raised-button *ngIf="!isUserLoggedIn" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="isUserLoggedIn" (click)="logout()">Logout</button>
</mat-toolbar>
<div style="margin:5px;"></div>
<router-outlet></router-outlet>
<!-- <div class="login-container">
  <div class="dflqw"><h1>Office 365 Login Example</h1></div>
  <div class="login-box">
    <p>Click the button below to login with Office 365:</p>
    <button *ngIf="!isUserLoggedIn" (click)="login()">Login with Office 365</button>
  </div>
</div> -->